h1, h2, h3, h4, h5, h6 {
  font-family: "Alice", sans-serif;
}

body {
  font-family: "Alice", sans-serif;
  text-align: center;
}

/* Headings */

.big-heading {
  margin-top: 5%;
  margin-left: 4%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: .3rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #96DED1;
  color: #fff;
}

.white-section {
  background-color: #F9F8F7;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Alice";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

/* Title Section */

#title .container-fluid {
  height: 530px;
  position: relative;
  z-index: 1;
  padding: 3% 10% 15%;
  border-bottom: 10px solid;
  border-bottom-color: #317D99;
  text-align: left;
}

.topnav .search-container {
  float: left;
  margin-top: -6%;
  margin-left: 2%;
  width: 30rem;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: -16%;
  font-size: 17px;
  border: none;
  width: 26rem;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: -1.6%;
  margin-right: 22px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  position: absolute;
  width: 1425px;
  height: 530px;
  margin-left: -10%;
  margin-top: -10%;
  padding-bottom: 4%;
  z-index: -1;
}

.title-trans-image {
  width: 65%;
  transform: rotate(25deg);
  position: relative;
  margin-left: 55%;
}

/* Features */

#features {
  padding: 1.5rem 0 1.5rem 0;
  background-color: #F9F8F7;
  position: relative;
  z-index: 2;
}

#features .container-fluid {
  height: 20rem;
}

.feature-title {
  font-size: 1.5rem;
}

.icons {
  color: #317D99;
  transform: scale(4);
  margin-bottom: 40px;
}

.icons:hover {
  color: #96DED1;
}

.subtitle {
  margin-top: 2rem;
}

.description {
  color: #8f8f8f;
  width: 15rem;
  padding-bottom: 3rem;
}

#testimonials {
  background-color: #96DED1;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #96DED1;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  background-color: #F9F8F7;
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card {
  background-color: #FFE5C6;;
}

@media (max-width: 991px) {
  #title {
    padding-bottom: 1200px;
    text-align: center;
  }

  .title-image {
    width: 300px;
    margin-left: 20px;
    position: static;
    transform: rotate(0);
  }

}

/* CTA Section */

#cta {
  padding: 50px 50px 20px;
}

.cta-message {
  color: #F9F8F7;
  font-size: 3rem;
  position: relative;
  width: 60%;
  margin-left: 20%;
  height: 6rem;
}

.cta-message2 {
  color: #F9F8F7;
  font-size: 3rem;
  position: relative;
  width: 60%;
  margin-left: 18.5%;
  height: 6rem;
}

.phone-lady-trans {
  position: absolute;
  margin-top: -17%;
  margin-left: -10%;
  height: 35rem;
  width: 40rem;
}

/* Footer Section */

#footer {
  background-color: #F9F8F7;
  padding: 100px 300px 15px;
}

.footer-buttons {
  margin-bottom: 20px;
}

.footer-icon {
  margin: 20px 10px;
}
